S3method(print, StationarityTest)
S3method(print, MultiVariateAnalysis)

export(stationarity.test)
export(ACF)
export(multi.variate.analysis)

export(log.diff)
export(log.diffinv)


import(forecast, tseries, zoo)
importFrom(knitr, kable)
importFrom(astsa, acf2)
importFrom(fractal, stationarity)
importFrom(klaR, cond.index)
