S3method(print, StationarityTest)
S3method(ACF, StationarityTest)
S3method(print, MultiVariateAnalysis)

export(stationarity.test)
export(multi.variate.analysis)

export(log.diff)
export(log.diffinv)
export(in.sample.log.diffinv)
export(in.sample.diffinv)


import(forecast, tseries)
importFrom(knitr, kable)
importFrom(astsa, acf2)
importFrom(fractal, stationarity)
importFrom(gtools, defmacro)
importFrom(usdm, vif)
